
{% extends 'nav.html' %}
{%block title%}Work{endblock}
{% block content %}
    <body>
        <main>
            <section class="py-5 text-center container">
                <h1>About & Contact</h1>
                <div class="row justify-content-center">
                    <!-- Image Column -->
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="../static/foto_simon.jpg" alt="Profile Image"
                            class="rounded float-start m-1 rounded d-none d-md-block">
                    </div>

                    <!-- Text and Buttons Column -->
                    <div class="col-md-6" style="margin-top: 2%;">
                        <p class="custom-justify-text-left ">
                            Colombian/Italian by roots and currently residing in
                            the Netherlands with my family.
                            I possess a unique blend of robust analytical
                            capabilities, strategic insight,
                            and a hands-on approach to execution.
                        </p>
                        <p class="custom-justify-text-left">
                            In my recent role as a Senior CX Business Analyst at
                            Rockwell Automation,
                            I've pioneered the use of ML techniques,
                            specifically crafting a Topic Analysis framework
                            to decipher unstructured survey data. My MBA from
                            the Rotterdam School of Management
                            is more than just credentials; it's underscored by 2
                            first place triumphs in
                            international financial investment competitions in
                            2021 against US and EU Top B-Schools.
                        </p>
                        <p class="custom-justify-text-left">
                            Before my stint at Rockwell, I played a crucial
                            hybrid role at Geometry Colombia,
                            leading marketing and brand strategies across
                            diverse regions
                            and being a project manager for digital products.
                        </p>
                        <p class="custom-justify-text-left">
                            Beyond work, I'm deeply committed to sustainability
                            and the belief that we must
                            care for our planet. Always eager for conversations
                            about groundbreaking strategies,
                            new initiatives, consulting work or just answering
                            questions.
                        </p>
                        <p class="custom-justify-text-left">
                            Don't hesitate to drop me an email.
                        </p>
                        <p class="custom-justify-text-left">
                            You can find me here:
                        </p>

                        <p>
                            <a
                                href="mailto:abello.simon@gmail.com?subject=Hello%20Simon!"
                                class="btn btn-dark my-2">
                                <i class="bi bi-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/simonabello"
                                class="btn btn-dark my-2">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://github.com/abellosimon"
                                class="btn btn-dark my-2">
                                <i class="bi bi-github"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </section>
        </main>

        {% include "footer.html" %}
    </body>
    {% endblock%}
