{% extends 'nav.html' %}
{%block title%}Colgate{% endblock %}
{% block content %}
<body>
  <main>
    <div class="px-4 pt-5 my-5 text-center ">
      <h1 class="display-8 fw-bold text-body-emphasis"><span
          class="text-body-secondary">Case Study:</span> Colgate🌳</h1>
      <h2 class="text-body-tertiary">2020</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-2 text-center">In 2020, the world experienced an
          unexpected shift due to the COVID-19 pandemic. Businesses were forced
          to rethink their strategies and quickly adapt to the changing
          landscape from physical to digital.</p>
      </div>
      <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
          <img src="/static/Colgate/Colgate_1.jpg"
            class="img-fluid mb-4" alt="Bamboo Banner" width="500" height="200"
            loading="lazy">
        </div>

      </div>
      <div>

        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <p class="lead  m-4 text-start">My client at Colgate was amid
              preparing for the launch of our new Bamboo toothbrush, a product
              aimed at environmentally conscious consumers. Originally, the plan
              was to host physical customer events to introduce the product.
              However, the pandemic-imposed restrictions on such gatherings.</p>
            <p class="lead  m-4 text-start">How to effectively promote the
              environmentally-friendly
              features of the Bamboo toothbrush in a purely digital realm,
              especially when the original strategy was grounded in physical
              engagement?
            </p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="400" height="400" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Contest Banner"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Contest
                Banner</title>
              <image href="/static/Colgate/Colgate_5.jpg" width="100%"
                height="100%" /></svg>
          </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7 order-md-2">
            <p class="lead  m-4 text-start">We recognized the power of
              influencers in shaping consumer perceptions, especially in the
              sustainable and travel sectors. With this in mind, we partnered
              with four prominent sustainable-friendly and travel influencers
              for a unique digital campaign.</p>
            <p class="lead  m-4 text-start">The campaign was designed as a
              virtual tree planting contest. Each influencer was tasked with
              sharing a post about our Bamboo toothbrush. The engagement
              metric was unique: the audience was encouraged to react using
              the tree emoji. The influencer garnering the most tree emojis
              would win the largest forest planted in their hometown. All
              influencers would have forests planted on their behalf, but the
              sizes would decrease based on the number of reactions.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Influencer Image"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Influencer
                Image</title>
              <image href="/static/Colgate/Colgate_2.png" width="100%"
                height="100%" /></svg>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 m-4">Results</h2>
            <p class="lead m-4">
              <ul class="list-inline text-start">
                <li class="lead m-4">Sales: The Bamboo toothbrush experienced
                  a successful launch with a significant boost in sales.
                </li>
                <li class=" lead m-4">Share of Voice: There was a 9% increase
                  in our share of voice.</li>
                <li class=" lead m-4">Engagement: Overall, Colgate Colombia
                  experienced a 7% increase in engagement across all digital
                  channels.</li>
              </ul>
            </p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="400" height="400"
              xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Tree Contest Banner"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Tree
                Contest Banner</title>
              <image class="rounded" href="/static/Colgate/Colgate_3.jpg"
                width="100%"
                height="100%" /></svg>
          </div>
        </div>
        <!-- Featurette template code -->
        <!-- <hr class="featurette-divider">
        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 m-4">And lastly, this
              one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead m-4">And yes, this is the last block of
              representative placeholder content. Again, not really intended
              to be actually read, simply here to give you a better view of
              what this would look like with some actual content. Your
              content.</p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text
                x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div> -->
      </div>
    </div>
  </main>
</body>

{% endblock%}