{% extends 'nav.html' %}
{%block title%}FCI{% endblock %}
{% block content %}
<body>
  <main>
    <div class="px-4 pt-5 my-5 text-center ">
      <h1 class="display-8 fw-bold text-body-emphasis"><span
          class="text-body-secondary">Case Study:</span> FCI❤️</h1>
      <h2 class="text-body-tertiary">2018-2020</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-2">Fundacion Cardio Infantil (FCI) is a leading
          cardiovascular care provider. As healthcare evolved, FCI recognized
          the need to enhance its digital presence to better serve patients and
          boost donations.</p>
      </div>
      <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
          <img src="/static/FCI/FCI3-removebg-preview.png"
            class="img-fluid mb-4" alt="Example image" width="800" height="600"
            loading="lazy">
        </div>

      </div>
      <div>

        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <p class="lead  m-4 text-start">With rising operational costs and the
              increasing demand for advanced medical equipment and services, FCI
              was seeking a partner that would help them create a digital
              presence aligned with their growth objectives without compromising
              their humanitarian mission and patient care.</p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="1000" height="1000" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Full Website"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Full
                FCI</title>
              <image href="/static/FCI/FCI_corazon.png" width="100%" height="100%" /></svg>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette d-flex align-items-center">
            <div class="col-md-7 order-md-2">
              <p class="lead m-4 text-start">As the Account Executive (and later Brand
                Planner) for the healthcare client, my objective was to reflect
                the changing needs of FCI and manage their transition into the
                digital space: </p>
                <ul class="list-inline text-start">
                <li class="lead m-4">I spearheaded the launch of FCI's revamped website,
                ensuring it
                was both user-friendly and representative of their brand ethos.
                </li>
                <li class=" lead m-4">Oversaw a team encompassing social media content creators,
                  graphic designers, and strategists, ensuring consistent
                  messaging and branding across all digital platforms.</li>
              </ul>

            </div>
            <div class="col-md-5 order-md-1">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
                width="1000" height="1000" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Mobile FCI Image"
                preserveAspectRatio="xMidYMid slice" focusable="false"><title>Mobile
                  FCI</title>
                <image href="/static/FCI/FCI5_nobackground.png" width="100%"
                  height="100%" /></svg>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette d-flex align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1 m-4">Results</h2>
              <p class="lead m-4">
                <ul class="list-inline text-start">
                <li class="lead m-4">Successfully renegotiated the contract, achieving a 20% increase, which translated to a lucrative $220k ARR opportunity.
                </li>
                <li class=" lead m-4">Deepened our ties with FCI, evolving from a mere service provider to a valued strategic ally.</li>
                <li class=" lead m-4">Clinched a Silver Effie award for our blood donation campaigns.</li>
              </ul>
              </p>
              <div class="m-5">
              <ul class=" list-inline text-start">Creative Design:
                <li><a href="https://www.behance.net/barkach">Julian</a>
                  <li><a href="https://www.behance.net/ChelaMV">Chela</a>
                    <li><a href="https://www.behance.net/davep0t">David</a>
              </ul>
            </div>
            </div>
            <div class="col-md-5">
              <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="400" height="400" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Heroes Reales Image"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Heroes Reales Image</title>
              <image class="rounded" href="/static/FCI/FCI_heroes.png" width="100%"
                height="100%" /></svg>
            </div>
          </div>
          <!-- Featurette template code -->
          <!-- <hr class="featurette-divider">
        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 m-4">And lastly, this
              one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead m-4">And yes, this is the last block of
              representative placeholder content. Again, not really intended
              to be actually read, simply here to give you a better view of
              what this would look like with some actual content. Your
              content.</p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text
                x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div> -->
        </div>
      </div>
    </main>
  </body>

  {% endblock%}