{% extends 'nav.html' %}
{%block title%}Novartis{% endblock %}
{% block content %}
<body>
  <main>
    <div class="px-4 pt-5 my-5 text-center ">
      <h1 class="display-8 fw-bold text-body-emphasis"><span
          class="text-body-secondary">Case Study:</span> Novartis🩺</h1>
      <h2 class="text-body-tertiary">2019-2020</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-2 text-center">Novartis, a global leader in the
          pharmaceutical industry, aimed to bridge the knowledge gap for medical
          professionals by creating a centralized portal to offer
          both scientific content and easily consumable information.</p>
      </div>
      <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
          <img src="/static/Novartis/Novartis_1.jpg"
            class="img-fluid mb-4 rounded" alt="Medhub Brand" width="300" height="300"
            loading="lazy">
        </div>

      </div>
      <div>

        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <p class="lead  m-4 text-start">Navigating this project brought its
              fair share of challenges. Firstly, I had the task of shaping a
              brand for the portal that would resonate with medical
              professionals, all while staying true to Novartis' established
              identity. Then came the coordination - balancing the efforts of
              two distinct developer teams, one based in Colombia and the other
              in Switzerland. Each team had its unique approach, and juggling
              the time zone differences added another layer of complexity. On
              top of that, the content had to be diverse, ranging from in-depth
              scientific articles to more accessible formats like podcasts,
              without diluting the core information.</p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="700" height="700" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Website Full"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Website Full</title>
              <image href="/static/Novartis/Novartis_2.jpeg" width="100%"
                height="100%" /></svg>
          </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7 order-md-2">
            <p class="lead  m-4 text-start">To drive this project, I had to lead:
              <ul class="list-inline text-start">
                <li class="lead m-4"><b class="fw-bold">Brand Development:</b> I spearheaded the
                  brand's development for the portal, making sure it fit snugly with
                  Novartis' values and resonated with our audience.
                </li>
                <li class=" lead m-4"><b class="fw-bold">Team Synergy:</b> Communication was key. By ensuring everyone was on
                  the same page and setting straightforward goals, I managed to
                  bridge our team in Colombia with Novartis' crew in Switzerland
                  seamlessly.</li>
                <li class=" lead m-4"><b class="fw-bold">Content Committee:</b> Knowing the value of varied content, I pulled
                  together a committee of creatives and doctors. We were all about
                  keeping the content spot-on in terms of accuracy while mixing up
                  its presentation styles.</li>
              </ul>
            </p>
            
          </div>
          <div class="col-md-5 order-md-1">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Spotify Podcast"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Spotify Podcast</title>
              <image href="/static/Novartis/Novartis_3.png" width="100%"
                height="100%" /></svg>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 m-4">Results</h2>
            <p class="lead m-4">
              <ul class="list-inline text-start">
                <li class="lead m-4"><b class="fw-bold">Engagement:</b>  Right out of the gate, when we launched the portal at a major medical event, we saw a wave of interest with over 2,000 sign-ups in just the first month.
                </li>
                <li class=" lead m-4"><b class="fw-bold">Sustained Utility:</b> It wasn't just a one-time thing. The portal still stands as a go-to resource for many medical pros, showcasing its lasting impact.</li>
              </ul>
            </p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="400" height="400"
              xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Banner"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Banner</title>
              <image class="rounded" href="/static/Novartis/Novartis 4.jpg"
                width="100%"
                height="100%" /></svg>
          </div>
        </div>
        <!-- Featurette template code -->
        <!-- <hr class="featurette-divider">
        <div class="row featurette d-flex align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 m-4">And lastly, this
              one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead m-4">And yes, this is the last block of
              representative placeholder content. Again, not really intended
              to be actually read, simply here to give you a better view of
              what this would look like with some actual content. Your
              content.</p>
          </div>
          <div class="col-md-5">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
              width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text
                x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div> -->
      </div>
    </div>
  </main>
</body>

{% endblock%}