<script src="../static/color-modes"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


<!-- Lines above are commented out because they are only used for testing -->


<div class="container">
    <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary ms-auto">&copy; 2023 Simon Abello</p>
    </footer>
</div>
